<table>
    <tr>
        <td>
            <label for="devicetype">Device Type</label>
        </td>
        <td>
            <select id="devicetype" class="main-select" (change)="onDeviceTypeChanged($event)">
                <option *ngFor="let v of deviceTypes" [value]="v.key">{{v.displayname}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="responsetype">Respone Type</label>
        </td>
        <td>
            <select id="responsetype" class="main-select" (change)="onResponseTypeChnaged($event)">
                <option *ngFor="let v of responseTypes" [value]="v.key">{{v.displayname}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label for="audiofile">Choose File</label>
        </td>
        <td>
            <input type="file" id="audiofile" (change)="onUploadFile($event)" />
        </td>
    </tr>
</table>